@page 
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!---->
<head>
    <style type="text/css">
        canvas {
            border: thin solid black;
            background-color: peachpuff;
        }
        p{background: gray;
          color:white;
          padding:10px;
          margin:5px;
          border:thin solid black;
        }
    </style>
</head>
<body>
    <canvas id="canvas" width="1000" height="700">
    </canvas>

    
    <script>
        var ctx = document.getElementById("canvas").getContext("2d");
        var xStart = 200;
        var yStart = 50;
        var width = 60;

        function drawHorizontalLine(ctx,x1, x2, y) {
            ctx.beginPath();
            ctx.moveTo(x1, y);
            ctx.lineTo(x2, y);
            ctx.stroke();
            ctx.closePath();
        }
        function drawVerticalLine(ctx,x, y1, y2) {
            ctx.beginPath();
            ctx.moveTo(x, y1);
            ctx.lineTo(x, y2);
            ctx.stroke();
            ctx.closePath();
        }
        function drawDiagonalLine(ctx,x1, x2, y1, y2) {
            ctx.beginPath();
            ctx.moveTo(x1, y1);
            ctx.lineTo(x2, y2);
            ctx.stroke();
            ctx.closePath();
        }
        function drawGameBoard(ctx,xStart, yStart,width) {
            ctx.strokeStyle = "black";
            ctx.lineWidth = "4";
            for (let i = 0; i < 10; i++) {
                drawHorizontalLine(ctx,xStart,xStart + 8 * width, yStart + i * width);
            }
            for (let i = 1; i < 8; i++) {
                drawVerticalLine(ctx,xStart + i * width, yStart, yStart + 4 * width);
                drawVerticalLine(ctx,xStart + i * width, yStart + 5 * width, yStart + 9 * width);          
            }
            drawVerticalLine(ctx,xStart, yStart, yStart + 9 * width);
            drawVerticalLine(ctx,xStart + 8 * width, yStart, yStart + 9 * width);
            drawDiagonalLine(ctx,xStart + 3 * width, xStart + 5 * width, yStart, yStart + 2 * width);
            drawDiagonalLine(ctx,xStart + 3 * width, xStart + 5 * width, yStart + 2 * width, yStart);
            drawDiagonalLine(ctx,xStart + 3 * width, xStart + 5 * width, yStart + 7 * width, yStart + 9 * width);
            drawDiagonalLine(ctx,xStart + 3 * width, xStart + 5 * width, yStart + 9 * width, yStart + 7 * width);
        }
        
        function highlightPos(ctx, x, y) {
            ctx.fillStyle = "#4f7cbf80";
            ctx.strokeStyle = "#4f7cbf80";
            ctx.beginPath();
            ctx.arc(x, y, width / 2.4, 0, Math.PI * 2, true);
            ctx.fill();
            ctx.stroke();
        }

        function drawPiece(ctx,x,y,width,c,n){
            ctx.strokeStyle = "black";
            ctx.fillStyle = "black";
            ctx.lineWidth = "4";
            ctx.beginPath();
            ctx.arc(x, y, width/2.4, 0, Math.PI * 2, true);
            ctx.fill();
            ctx.stroke();
            ctx.closePath();
            ctx.lineWidth = "1";
            ctx.font = "24px sans-serif";
            if (c==1){
                ctx.strokeStyle = "white";
                ctx.fillStyle = "white";
                ctx.lineWidth = "1";
                ctx.beginPath();
                ctx.arc(x, y, width / 2.5, 0, Math.PI * 2, true);
                ctx.stroke();
                ctx.closePath();
                if (n==1){
                    ctx.fillText("将", x - width / 5, y);
                    ctx.strokeText("将", x - width / 5, y);
                    ctx.font = "10px sans-serif";
                    ctx.fillText("general", x - width / 3.5, y + width / 4.5);
                    ctx.strokeText("general", x - width / 3.5, y + width / 4.5);
                } else if (n==2){
                    ctx.fillText("车", x - width / 5, y);
                    ctx.strokeText("车", x - width / 5, y);
                    ctx.font = "10px sans-serif";
                    ctx.fillText("chariot", x - width / 4, y + width / 4.5);
                    ctx.strokeText("chariot", x - width / 4, y + width / 4.5);
                } else if (n==3){
                    ctx.fillText("砲", x - width / 5, y);
                    ctx.strokeText("砲", x - width / 5, y);
                    ctx.font = "10px sans-serif";
                    ctx.fillText("catapult", x - width / 3.5, y + width / 4.5);
                    ctx.strokeText("catapult", x - width / 3.5, y + width / 4.5);
                } else if (n==4){
                    ctx.fillText("马", x - width / 5, y);
                    ctx.strokeText("马", x - width / 5, y);
                    ctx.font = "10px sans-serif";
                    ctx.fillText("knight", x - width / 4.5, y + width / 4.5);
                    ctx.strokeText("knight", x - width / 4.5, y + width / 4.5);
                } else if (n==5){
                    ctx.fillText("象", x - width / 5, y);
                    ctx.strokeText("象", x - width / 5, y);
                    ctx.font = "10px sans-serif";
                    ctx.fillText("elephant", x - width / 3.2, y + width / 4.5);
                    ctx.strokeText("elephant", x - width / 3.2, y + width / 4.5);
                } else if (n==6){
                    ctx.fillText("士", x - width / 5, y);
                    ctx.strokeText("士", x - width / 5, y);
                    ctx.font = "10px sans-serif";
                    ctx.fillText("guard", x - width / 4.5, y + width / 4.5);
                    ctx.strokeText("guard", x - width / 4.5, y + width / 4.5);
                } else {
                    ctx.fillText("卒", x - width / 5, y);
                    ctx.strokeText("卒", x - width / 5, y);
                    ctx.font = "10px sans-serif";
                    ctx.fillText("private", x - width / 4.5, y + width / 4.5);
                    ctx.strokeText("private", x - width / 4.5, y + width / 4.5);
                }
            } else {
                ctx.strokeStyle = "red";
                ctx.fillStyle = "red";
                ctx.lineWidth = "1";
                ctx.beginPath();
                ctx.arc(x, y, width / 2.5, 0, Math.PI * 2, true);
                ctx.stroke();
                ctx.closePath();
                if (n==1){
                    ctx.fillText("帅", x - width / 5, y);
                    ctx.strokeText("帅", x - width / 5, y);
                    ctx.font = "10px sans-serif";
                    ctx.fillText("marshal", x - width / 3.5, y + width / 4.5);
                    ctx.strokeText("marshal", x - width / 3.5, y + width / 4.5);
                } else if (n==2){
                    ctx.fillText("车", x - width / 5, y);
                    ctx.strokeText("车", x - width / 5, y);
                    ctx.font = "10px sans-serif";
                    ctx.fillText("chariot", x - width / 4, y + width / 4.5);
                    ctx.strokeText("chariot", x - width / 4, y + width / 4.5);
                } else if (n==3){
                    ctx.fillText("炮", x - width / 5, y);
                    ctx.strokeText("炮",x - width / 5, y);
                    ctx.font = "10px sans-serif";
                    ctx.fillText("cannon", x - width / 3.5, y + width / 4.5);
                    ctx.strokeText("cannon", x - width / 3.5, y + width / 4.5);
                } else if (n==4){
                    ctx.fillText("马", x - width / 5, y);
                    ctx.strokeText("马", x - width / 5, y);
                    ctx.font = "10px sans-serif";
                    ctx.fillText("knight", x - width / 4.5, y + width / 4.5);
                ctx.strokeText("knight", x - width / 4.5, y + width / 4.5);
                } else if (n==5){
                    ctx.fillText("相", x - width / 5, y);
                    ctx.strokeText("相", x - width / 5, y);
                    ctx.font = "10px sans-serif";
                    ctx.fillText("elephant", x - width / 3.2, y + width / 4.5);
                    ctx.strokeText("elephant", x - width / 3.2, y + width / 4.5);
                } else if (n==6){
                    ctx.fillText("仕", x - width / 5, y);
                    ctx.strokeText("仕", x - width / 5, y);
                    ctx.font = "10px sans-serif";
                    ctx.fillText("guard", x - width / 4.5, y + width / 4.5);
                    ctx.strokeText("guard", x - width / 4.5, y + width / 4.5);
                } else {
                    ctx.fillText("兵", x - width / 5, y);
                    ctx.strokeText("兵", x - width / 5, y);
                    ctx.font = "10px sans-serif";
                    ctx.fillText("soldier", x - width / 4.5, y + width / 4.5);
                    ctx.strokeText("soldier", x - width / 4.5, y + width / 4.5);
                }
            }
        }
        
        drawGameBoard(ctx,xStart, yStart, width);
     

        function getMousePos(canvas, evt) {
            var rect = canvas.getBoundingClientRect();
            return {
                x: evt.clientX - rect.left,
                y: evt.clientY - rect.top
            };
        }
        
    </script>
    
        
    @for (var i = 0; i < Model.pieces.Count; i++)
    {
        <script>
            drawPiece(ctx, @Model.pieces[i].X, @Model.pieces[i].Y, @Model.pieces[i].W, @Model.pieces[i].C, @Model.pieces[i].N);
        </script>
    }
    
        
    
    @for (var j = 0; j < Model.pieces.Count; j++)
    {
        <script>
                canvas.addEventListener("click", function (evt) {
                    var mousePos = getMousePos(canvas, evt);
                    if (Math.sqrt(Math.pow(mousePos.x - @Model.pieces[j].X, 2) + Math.pow(mousePos.y - @Model.pieces[j].Y, 2)) <= @Model.pieces[j].W / 2.4)
                    {
                        alert(mousePos.x+","+mousePos.y);
                        highlightPos(ctx,@Model.pieces[j].X, @Model.pieces[j].Y);
                    }
                }, false);
        </script>
    }

</body>

